<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Movie |</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<%- include('partials/header') %>
<!-- Header End -->

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Add new Movie</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login__form">
                    <h3>Add new Movie</h3>
                    <form action="/movies-add" method="post">
                        <div class="input__item">
                            <input name="name" type="text" placeholder="Movie Name">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                          <input name="shortDescription" type="text" placeholder="Short Description">
                          <span class="icon_profile"></span>
                        </div>

                        <div class="input__item">
                            <input name="description" type="text" placeholder="Description">
                            <span class="icon_profile"></span>
                        </div>

                        <div class="input__item">
                          <input name="country" type="text" placeholder="Country">
                          <span class="icon_profile"></span>
                        </div>

                        <div class="input__item">
                            <input name="imageUrl" type="text" placeholder="Image Url">
                            <span class="icon_profile"></span>
                        </div>

                        <div class="input__item">
                           <input name="bookImageUrl" type="text" placeholder="Book Image Url">
                           <span class="icon_profile"></span>
                        </div>

                        <div class="input__item">
                            <input name="videoUrl" type="text" placeholder="Movie url">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                             <input name="madeYear" type="text" placeholder="Year">
                             <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                             <input name="category" type="text" placeholder="Category">
                             <span class="icon_profile"></span>
                        </div>
                        <br>
                        <% if (typeof passwordError != 'undefined') { %>
                            <p style="color: red"><%= passwordError %></p>
                        <% } %>
                        <div class="input__item">
                        <button type="submit" class="site-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup Section End -->

<!-- Footer Section Begin -->
<%- include('partials/footer') %>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/player.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>

</body>
</html>
